body{
    background-image: url("background.jpg");
    background-size: cover;
}


#HEADER{
    width: 100%;
    text-align: left;

}

#HEADER h3{

    display: inline;


}

#HEADER button{

    float: right;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}

img{
    width: 100%;
    
}

#footer{
    position: fixed;
    bottom: 0;
    text-align:center;
    background-color: red;
    color: white;
    width: 100%;
    line-height: 2.5;
    font-size: 20px;


    
}

.modal-dialog{

    width: 90%;
}

.Img_Instructions{
    width: 45%;
}

video{
    background-image: url(game_console.png);
    background-size:cover;
    background-position: center;
    padding: 25px;
}